section{
  width: 1200px;
  margin: 120px auto;
  font-family: inherit;
}

h1{
  font-size: 60px;
}

a {
  text-decoration: none;
  color: black;
}

table {
border-collapse: collapse;
}

thead th {
  padding-bottom: 5px;
  font-size: 20px;
  border-bottom: 1px solid black;
}

tbody{
  text-align: center;
}

tbody tr td {
  padding: 15px 0;
}

tbody tr td:nth-child(3) {
  text-align: left;
  padding-left: 15px;
}

/* left menu --------------- */
.bookreview-title-content {
  margin-bottom: 20px;
}

.bookreview-content-main{
  width: 100%;
  display: flex;
}

.bookreview-category {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.bookreview-category > h2 {
  margin-top: 18px;
  width: fit-content;
  font-size: 40px;
  padding: 10px;
  background-color: #449fb1;
  color: rgb(230, 230, 230);
  border-radius: 5px;
}

.category-content{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.filter-button {
  padding: 3px;
  font-size: 20px;
  cursor: pointer;
}

.filter-button:hover {
  color: #449fb1
}

/* right menu ---------------- */
.bookreview-content{
  width: 88%;
  margin-left: 15px;
}

.btn-content {
  display: flex;
  justify-content: space-between;
}

.pagination-btn {
  padding: 5px;
  width: 25px;
  background-color: rgb(189, 189, 189);
  border: 0;
  border-radius: 3px;
  color: rgb(77, 77, 77);
  cursor: pointer;
  margin-top: 15px;
}

.pagination-btn:hover {
  color: white;
}

.review-create {
  margin-bottom: 20px;
}

.review-create-btn {
  padding: 15px;
  border: 0;
  border-radius: 5px;
  width: 110px;
  text-align: center;
  vertical-align: middle;
  background-color: #449fb1;
  color: aliceblue;
  cursor: pointer;
}

.review-create-btn:hover {
  background-color: #39727e;
}

.reviewlist-content{
  margin-top: 10px;
  width: 100%;
}

.review-book-title{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.review-book-hashtag {
  display: flex;
}

.review-book-hashtag > p{
  font-size: 10px;
  padding: 5px;
  margin-right: 7px;
  width: fit-content;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 10px;
  color: rgb(160, 158, 158);
}