section {
  width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
}

.bookdetail_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookdetail-img {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookdetail-img > img {
  max-width: 350px;
  max-height: 500px;  
}

.bookdetail-info {
  width: 54%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bookdetail-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.bookdetail-publish, 
.bookdetail-status,
.bookdetail-sailer,
.bookdetail-about {
  list-style-type: none;
  display: flex;
}

.bookdetail-publish li {
  border-right: 1px solid gray;
  color: gray;
  font-size: 15px;
  text-align: left;
  height: 22px;
}

.bookdetail-publish li:nth-child(1) {
  padding-right: 20px;
  margin-right: 10px;
}

.bookdetail-publish li:nth-child(2) {
  padding-left: 10px;
  padding-right: 15px;
}

.bookdetail-status {
  font-size: 24px;
  font-weight: 700;
  gap: 30px;
  margin-top: 10px;
}

.bookdetail-sailer {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}

.bookdetail-about {
  padding-top: 20px;
  font-size: 17px;
}

.bookdetail-about li {
  border: 1px solid gray;
  border-radius: 3px;
  width: 80%;
  height: 30vh;
}

.bookdetail-btn {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.bookdetail-btn a {
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background-color: #449fb1;
  border-radius: 7px;
  text-align: center;
}

.delete-btn-book{
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background-color: #449fb1;
  border-radius: 7px;
  border: 0;
  text-align: center;
}

.chat-btn{
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background-color: #449fb1;
  border-radius: 7px;
  border: 0;
  text-align: center;
}

/* comment */
.conmment-content {
  width: 1000px;
  margin: 0 auto;
}

.conmment-content > h2 {
  margin-top: 60px;
}

.comment-form {
  margin-top: 20px;
}

.comment-input {
  width: 85%;
  height: 40px;
  border: 1px solid rgb(190, 186, 186);
  border-radius: 6px;
}

#comment-btn {
  height: 40px;
  padding: 0 40px;
  border: 0;
  border-radius: 6px;
  color: white;
  background-color: #275c66;
}

.comment-list{
  margin-bottom: 150px;
}

.comment-list > h2 {
  margin-top: 60px;
  margin-bottom: 25px;
}

.comment-detail,
.recomment-detail {
  display: flex;
  margin-bottom: 15px;
}

.comment-detail > img {
  width: 30px;
  margin-right: 10px;
}

.comment-username {
  padding-top: 5px;
  padding-right: 20px;
}

.comment-detail > ul {
  list-style-type: none;
  width: 70%;
  display: flex;
}

.comment-detail > ul li {
  padding: 0 10px;
}

.comment-detail > ul li:nth-child(2) {
  padding-top: 9px;
  font-size: 5px;
}

.recomment-detail {
  margin-left: 40px;
}

.recomment-detail > img {
  width: 30px;
  margin-right: 10px;
}

.recommnet-username {
  padding-top: 5px;
  padding-right: 20px;
}

.recomment-detail > ul {
  list-style-type: none;
  width: 70%;
  display: flex;
}

.recomment-detail > ul li {
  padding: 0 10px;
}

.recomment-detail > ul li:nth-child(2) {
  padding-top: 9px;
  font-size: 5px;
}

.delete-btn-div {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.comment-delete-btn {
  border: 0;
  padding: 2px 5px;
  background-color: #4988db;
  color: white;
}