body {
  height: 100%;
}
section {
  width: 100%;
  margin: 110px auto 90px;
  display: flex;
  justify-content: center;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}


/* side menu ---------------------------- */
.side-menu {
  width: 25%;
  margin-left: 30px;
  padding-right: 30px;
  border-right: 1px solid gray;
}

.side-menu-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_img > img {
  width: 170px;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.username {
  font-size: 35px;
  margin-bottom: 5px;
}

.aboutme {
  color: rgb(161, 161, 161);
}

.profile-btn {
  background-color: #449fb1;
  width: 120px;
  height: 45px;
  border: 0;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.profile-btn:hover {
  background-color: #275c66;
}

.history-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-top: 1px solid #556080

}

.history-list-title{
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-list {
  text-decoration: none;
}

.menu-list > li {
  padding-bottom: 10px;
  cursor: pointer;
}

.menu-list li a {
  text-decoration: none;
  color: black;
}

.menu-list li a:hover {
  color: rgb(43, 108, 206);
}

/* changepassword menu ---------------------------- */

.password-container{
  width: 75%;
}

.password-group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 20px;
  flex-direction: column;
  gap: 30px;
}

.password-group ul {
  width: 400px;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2px;
}

.password-group li:first-child {
  padding-top: 10px;
  padding: 3px 0 0 0;
}

.password-group li input {
  width: 250px;
  height: 40px;
  background-color: #d5dddfd2;
  border: none;
  padding: 5px 10px;
}

.text {
  margin-top: 8px;
}

#changepassword-btn {
  margin-top: 5px;
  padding: 10px 30px;
  background-color: #449fb1;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 40vh;
}

#changepassword-btn:hover {
  background-color: #0056b3;
}


