@media screen and (max-width: 768px) {
    .menu,
    .menu2 {
      display: none;
    }
    .dropdown-menu a {
      font-size: 12px;
      text-decoration: none;
      color: white;
    }
    .dropdown-menu {
      display: block;
      list-style: none;
    }
    .dropdown-menu a:hover {
      color: #3344ff;
    }
  }
  
  @media screen and (min-width: 769px) {
    .menu,
    .menu2 {
      display: flex-end;
    }
    .dropdown-menu {
      display: none;
    }
  }

  section {
    height: 50vh;
    width: 1200px;
    margin: 0 auto;
  }
  
  .chat-title {
    margin: 20px 0;
    padding: 3px 10px;
    display: flex;
    justify-content: space-between;
  }

  .roomname {
    color: #666666;
  }

  #chatlist_btn {
    border: 0;
    border-radius: 7px;
    background-color: #449fb1;
    padding: 10px;
    color: white;
  }

  .chat-content {
    overflow: auto;
  }

  .date {
    text-align: center;
    margin: 0 auto;
    background-color: #646669;
    color: white;
    border-radius: 10px;
    width: 20%;
    height: 27px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
  }
  
  .warning {
    text-align: center;
    margin: 15px auto 0 auto;
    background-color: #646669;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    width: 580px;
    height: 70px;
    padding: 8px;
  }

  .chat-ms-content {
    width: 950px;
    height: 45vh;
    margin: 10px auto;
  }

  .chat-message > div {
    background-color: #9090ee;
    color: #e1e1e1;
    border-radius: 0.8em;
    padding: 0.4em;
    margin: 0.4em 0;
    display: inline-block;
    white-space: pre-wrap;
    max-width: 80%;
    word-wrap: break-word;
  }

  .chat-message.me {
    text-align: right;
  }

  .chat-message.me > div {
    background-color: #89e6a0;
    color: #ffffff;
    text-align: left;
  }
  
  .form-control {
    position: fixed;
    bottom: 80px;
    left: 350px;
    width: 1000px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .chat-input input {
    flex-grow: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  .chat-input button {
    cursor: pointer;
    border: none;
  }