.title {
    color: black;
    font-size: 40px;
    margin-left: 43%;
    margin-top: 3%;
  }
  
  .chat-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-left: 15%;
    margin-right: 10%;
  }
  
  .profile-image {
    width: 7%;
    height: 10%;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .chat-details {
    flex: 1;
  }
  
  .chat-details2 {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  
  .nickname {
    font-weight: bold;
  }
  
  .content {
    font-size: 12px;
    color: #888;
  }
  
  .time {
    font-size: 12px;
    color: #888;
  }
  
  .chat-count {
    font-size: 14px;
    color: white;
    background-color: #ff0000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 5px;
  }
  