.search-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -30px;
}

.search-container h1 {
  margin-bottom: 20px;
}

.header_searchGroup {
  margin: 10px auto;
  height: 50px;
  width: 500px;
}

.header_search {
  vertical-align: middle;
  display: flex;
  align-items: center;
  position: relative;
}

.header_searchSelect {
  padding: 7.5px;
  height: 50px;
  border: 5px solid rgb(181, 199, 212);
  border-radius: 5px 0 0 5px;
  text-align: center;
}

.header_searchInput {
  width: 150%;
  height: 50px;
  background: rgb(181, 199, 212);
  border: none;
  font-size: 10pt;
  float: left;
  color: #000000;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 0 5px 5px 0;
}

.header_searchInput::-webkit-input-placeholder {
  color: rgb(181, 199, 212);
}
.header_searchInput:-moz-placeholder {
  /* Firefox 18- */
  color: rgb(181, 199, 212);
}
.header_searchInput::-moz-placeholder {
  /* Firefox 19+ */
  color: rgb(181, 199, 212);
}
.header_searchInput:-ms-input-placeholder {
  color: rgb(181, 199, 212);
}

.search-button {
  position: absolute;
  top: 50%;
  margin-left: 95%;
  margin-top: -2%;
  z-index: 1;
  background-color: rgb(181, 199, 212);
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.search-button:hover {
  transform: scale(1.1);
}

.search-button img {
  width: 20px;
  height: 20px;
}

.container {
  padding: 20px;
}

/* page_nation */
.page_wrap {
  text-align: center;
}

.page_nation {
  display: inline-block;
}

.page_nation .none {
  display: none;
}

.page_nation a {
  display: block;
  margin: 0 3px;
  float: left;
  border: 1px solid #e6e6e6;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  font-size: 13px;
  color: #999999;
  text-decoration: none;
}

.page_nation .arrow {
  border: 1px solid #ccc;
}

.page_nation .pprev {
  background: #f8f8f8 url("../img/page_pprev.png") no-repeat center center;
  margin-left: 0;
}

.page_nation .prev {
  background: #f8f8f8 url("../img/page_prev.png") no-repeat center center;
  margin-right: 7px;
}

.page_nation .next {
  background: #f8f8f8 url("../img/page_next.png") no-repeat center center;
  margin-left: 7px;
}

.page_nation .nnext {
  background: #f8f8f8 url("../img/page_nnext.png") no-repeat center center;
  margin-right: 0;
}

.page_nation a.active {
  background-color: #42454c;
  color: #fff;
  border: 1px solid #42454c;
}

.number_item {
  text-align: center;
  list-style: none;
  margin-top: 35px;
  font-size: 14px;
}

.number_item::before {
  counter-increment: number 1;
  content: " " counter(number) " ";
}

/* book */
.book-list {
  margin-left: 13%;
}

.book {
  display: flex;
  align-items: center;
}

.book img {
  max-width: 8%;
  max-height: 90px;
  margin-left: 30px;
  margin-top: 40px;
}

.book-details {
  margin-left: 40px;
  margin-top: 35px;
}

.book-info {
  display: flex;
  color: rgba(201, 158, 49, 0.765);
}

.book-status {
  display: flex;
}

.book-exp {
  font-size: 10px;
  color: rgba(32, 31, 30, 0.457);
  white-space: normal;
  word-wrap: break-word;
  width: 480px;
}

.book-info li {
  list-style: none;
  font-size: 10px;
  margin-top: 5px;
}

.book-status li {
  list-style: none;
  font-size: 13px;
  margin-top: 5px;
}

.info li {
  list-style: none;
  margin-left: 70px;
  margin-top: 35px;
}

ul.book-info,
ul.book-status,
ul.info {
  margin: 0;
  padding: 0;
}

.book2 {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1.5px solid rgba(201, 158, 49, 0.765);
}

.book3 {
  margin-right: 10px;
}

.saler {
  margin-top: 5px;
  font-size: 13px;
  text-align: center;
}

.check-item {
  background-color: #449fb1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5%;
  margin-top: 35px;
}

.check-item a {
  color: white;
  text-decoration: none;
}

.check-item:hover {
  background-color: #3344ff;
}